.card-text{
    text-align: justify;
}

h4{
    margin-top: 14%;
}

#tituloh5{
    color: white;
}
#textodigital{
    color: white;
}

#texto-carrusel{
    font-size: 35px;
}

#foto1{
float: center;
}